.App {
  text-align: center;
 // color: white;
}
.navbar-brand{
  color:white;
}

p.intro{
  text-align: center;
}
.card{
background-color: grey;
padding-top: 30px;
}
.card-img-top{
  border: 5px solid white;
    border-radius: 25px;
}
.dropdown-item{
  text-decoration-color: none;
}
.carousel{
  padding: 50px 50px 50px 50px ;

}

// .img__wrap {
//   position: relative;
//   height: 200px;
//   width: 257px;
// }

// .img__description_layer {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgba(36, 62, 26, 0.6);
//   color: #fff;
//   visibility: hidden;
//   opacity: 0;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   /* transition effect. not necessary */
//   transition: opacity .2s, visibility .2s;
// }

// .img__wrap:hover .img__description_layer {
//   visibility: visible;
//   opacity: 1;
// }

// .img__description {
//   transition: .2s;
//   transform: translateY(1em);
// }

// .img__wrap:hover .img__description {
//   transform: translateY(0);
// }


