@import '~bootstrap/dist/css/bootstrap.css';
@import "font-awesome";


p.intro{
    text-align: center;
  }
  .card{
  background-color: grey;
  }
  .card-img-top{
    border: 10px solid white;
      border-radius: 25px;
  }
  